option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.common
    DJANGO_ALLOWED_HOSTS: 127.0.0.1,.us-east-1.elasticbeanstalk.com
    DJANGO_INTERNAL_IPS: 127.0.0.1
    DJANGO_SECRET_KEY: change-me-for-a-secure-secret-key
    DJANGO_DEBUG: false
    DJANGO_DATABASE_URL: sqlite:///db.sqlite3