files:
  "/home/ec2-user/activate-venv.sh":
    content: |
      #!/bin/bash
      
      # activate virtual env
      source /var/app/venv/*/bin/activate
      # export environment variables
      export $(sudo cat /opt/elasticbeanstalk/deployment/env | xargs)
      # change into app dir
      cd /var/app/current/
